# General
.DS_Store
*~

# VS Code
.vscode/*
.history/

# VIM
*.swp

# Python
__pycache__

# Builds
mgc/cli/cli
mgc/cli/mgc
mgc/terraform-provider-mgc/terraform-provider-mgc
/build

# Documentation
mgc/terraform-provider-mgc/docs

# Terraform
*.tfstate*

# Go workspace
go.work.sum
