# General
.DS_Store
*~

# VS Code
.vscode/*
.history/

# VIM
*.swp

# Builds
mgc/cli/cli
mgc/cli/mgc
mgc/terraform-provider-mgc/terraform-provider-mgc
/build

# Terraform
*.tfstate*

# Go workspace
go.work.sum
