# General
.DS_Store
*~
cli.yaml

# VS Code
.vscode/*
.history/
.vscode

# VIM
*.swp

# Python
__pycache__

# Builds
mgc/cli/cli
mgc/cli/mgc
mgc/terraform-provider-mgc/terraform-provider-mgc
mgc/codegen/codegen
/build

# Documentation

# Terraform
*.tfstate*

# Go workspace
go.work.sum
dist
