name: MGC CI

on:
  push:
    tags:
      - "v*.*.*"
    branches: [ main ]
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review

# concurrency:
#   group: ci-check-${{ github.ref }}
#   cancel-in-progress: true

jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: Set owner of working dir recurively (Linux)
        run: sudo chown -R $(whoami) .
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: stable
      - run: go version
      - name: Build CLI
        env:
          VERSION: CI
          CHECK_RELEASE: 0
        run: ./scripts/build_release.sh
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: mgc-folder
          path: build/mgc-cli-linux-amd64-CI/

  test-build:
    needs: build
    runs-on: self-hosted
    env:
      PROFILES: ${{ secrets.tester_profiles_config }}
    container:
      image: ghcr.io/marmotitude/s3-tester:tests
      volumes:
        - ${{ github.workspace }}/build/mgc-cli-linux-amd64-CI:/tools/mgc2
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: mgc-folder
          path: build/mgc-cli-linux-amd64-CI/
      - name: Replace original mgc and run tests
        # TODO: remove the line below to make passing integration tests REQUIRED
        continue-on-error: true
        run: |
          cd /app
          # mgc to be replaced
          mgc --version
          sha256sum `which mgc`
          # remove original link to mgc
          rm /usr/local/bin/mgc
          # give execute permissions to new binary
          chmod +x /tools/mgc2/mgc
          # link the mgc from the mounted volume as the new mgc
          ln -s /tools/mgc2/mgc /usr/local/bin/mgc
          # custom mgc
          mgc --version
          sha256sum `which mgc`
          ./entrypoint.sh --profiles ${{ vars.tester_profiles }} --clients mgc --tests ${{ vars.tester_tests }}

  pre-commit:
    # TODO: when remove "continue-on-error: true" above, change below to "needs: test-build"
    needs: build
    runs-on: self-hosted
    steps:
      - uses: actions/setup-python@v3
      - name: Set owner of working dir recurively (Linux)
        run: sudo chown -R $(whoami) .
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: stable
      - name: "Install go imports"
        run: go install golang.org/x/tools/cmd/goimports@latest
      - uses: pre-commit/action@v3.0.0
        with:
          extra_args: --show-diff-on-failure --color=always --hook-stage push --all-files
