module {{ .ModuleName }}

go 1.22.3

require (
	github.com/MagaluCloud/magalu/mgc/core {{ .CoreVersion }}
	github.com/MagaluCloud/magalu/mgc/sdk  {{ .SdkVersion }}
)

replace github.com/MagaluCloud/magalu/mgc/core => ../core

replace github.com/MagaluCloud/magalu/mgc/sdk => ../sdk
