module {{ .ModuleName }}

go 1.21.4

require (
	magalu.cloud/core {{ .CoreVersion }}
	magalu.cloud/sdk  {{ .SdkVersion }}
)

replace magalu.cloud/core => ../core

replace magalu.cloud/sdk => ../sdk

replace magalu.cloud/testing/fs_test_helper => ../testing/fs_test_helper
